PWSServerH2/web/WEB-INF/wsdl/localhost_8080/PWSServerH4/MWSServerH4.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Car.dz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Car.dz/" name="MWSServerH4">
<types>
<xsd:schema>
<xsd:import namespace="http://Car.dz/" schemaLocation="http://localhost:8080/PWSServerH4/MWSServerH4?xsd=1"/>
</xsd:schema>
</types>
<message name="genereFibo">
<part name="parameters" element="tns:genereFibo"/>
</message>
<message name="genereFiboResponse">
<part name="parameters" element="tns:genereFiboResponse"/>
</message>
<message name="normeTotale">
<part name="parameters" element="tns:normeTotale"/>
</message>
<message name="normeTotaleResponse">
<part name="parameters" element="tns:normeTotaleResponse"/>
</message>
<message name="setNorme1">
<part name="parameters" element="tns:setNorme1"/>
</message>
<message name="setNorme1Response">
<part name="parameters" element="tns:setNorme1Response"/>
</message>
<message name="setNorme2">
<part name="parameters" element="tns:setNorme2"/>
</message>
<message name="setNorme2Response">
<part name="parameters" element="tns:setNorme2Response"/>
</message>
<message name="setN">
<part name="parameters" element="tns:setN"/>
</message>
<message name="setNResponse">
<part name="parameters" element="tns:setNResponse"/>
</message>
<portType name="MWSServerH4">
<operation name="genereFibo">
<input wsam:Action="http://Car.dz/MWSServerH4/genereFiboRequest" message="tns:genereFibo"/>
<output wsam:Action="http://Car.dz/MWSServerH4/genereFiboResponse" message="tns:genereFiboResponse"/>
</operation>
<operation name="normeTotale">
<input wsam:Action="http://Car.dz/MWSServerH4/normeTotaleRequest" message="tns:normeTotale"/>
<output wsam:Action="http://Car.dz/MWSServerH4/normeTotaleResponse" message="tns:normeTotaleResponse"/>
</operation>
<operation name="setNorme1">
<input wsam:Action="http://Car.dz/MWSServerH4/setNorme1Request" message="tns:setNorme1"/>
<output wsam:Action="http://Car.dz/MWSServerH4/setNorme1Response" message="tns:setNorme1Response"/>
</operation>
<operation name="setNorme2">
<input wsam:Action="http://Car.dz/MWSServerH4/setNorme2Request" message="tns:setNorme2"/>
<output wsam:Action="http://Car.dz/MWSServerH4/setNorme2Response" message="tns:setNorme2Response"/>
</operation>
<operation name="setN">
<input wsam:Action="http://Car.dz/MWSServerH4/setNRequest" message="tns:setN"/>
<output wsam:Action="http://Car.dz/MWSServerH4/setNResponse" message="tns:setNResponse"/>
</operation>
</portType>
<binding name="MWSServerH4PortBinding" type="tns:MWSServerH4">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="genereFibo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="normeTotale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setNorme1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setNorme2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MWSServerH4">
<port name="MWSServerH4Port" binding="tns:MWSServerH4PortBinding">
<soap:address location="http://localhost:8080/PWSServerH4/MWSServerH4"/>
</port>
</service>
</definitions>