PWSClient/web/WEB-INF/wsdl/localhost_8080/PWSServer/MWSServer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Car.dz/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Car.dz/">

<xs:element name="moyNotes" type="tns:moyNotes"/>

<xs:element name="moyNotesResponse" type="tns:moyNotesResponse"/>

<xs:element name="norme1" type="tns:norme1"/>

<xs:element name="norme1Response" type="tns:norme1Response"/>

<xs:element name="showNorme" type="tns:showNorme"/>

<xs:element name="showNormeResponse" type="tns:showNormeResponse"/>

<xs:complexType name="norme1">
<xs:sequence>
<xs:element name="vec" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="norme1Response">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moyNotes">
<xs:sequence>
<xs:element name="note1" type="xs:float"/>
<xs:element name="note2" type="xs:float"/>
<xs:element name="note3" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moyNotesResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showNorme">
<xs:sequence>
<xs:element name="norme" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showNormeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>