PWSServerH4/web/WEB-INF/wsdl/localhost_8080/PWSServer/MWSServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Car.dz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Car.dz/" name="MWSServer">
<types>
<xsd:schema>
<xsd:import namespace="http://Car.dz/" schemaLocation="http://localhost:8080/PWSServer/MWSServer?xsd=1"/>
</xsd:schema>
</types>
<message name="moyNotes">
<part name="parameters" element="tns:moyNotes"/>
</message>
<message name="moyNotesResponse">
<part name="parameters" element="tns:moyNotesResponse"/>
</message>
<message name="norme1">
<part name="parameters" element="tns:norme1"/>
</message>
<message name="norme1Response">
<part name="parameters" element="tns:norme1Response"/>
</message>
<message name="showNorme">
<part name="parameters" element="tns:showNorme"/>
</message>
<message name="showNormeResponse">
<part name="parameters" element="tns:showNormeResponse"/>
</message>
<portType name="MWSServer">
<operation name="moyNotes">
<input wsam:Action="http://Car.dz/MWSServer/moyNotesRequest" message="tns:moyNotes"/>
<output wsam:Action="http://Car.dz/MWSServer/moyNotesResponse" message="tns:moyNotesResponse"/>
</operation>
<operation name="norme1">
<input wsam:Action="http://Car.dz/MWSServer/norme1Request" message="tns:norme1"/>
<output wsam:Action="http://Car.dz/MWSServer/norme1Response" message="tns:norme1Response"/>
</operation>
<operation name="showNorme">
<input wsam:Action="http://Car.dz/MWSServer/showNormeRequest" message="tns:showNorme"/>
<output wsam:Action="http://Car.dz/MWSServer/showNormeResponse" message="tns:showNormeResponse"/>
</operation>
</portType>
<binding name="MWSServerPortBinding" type="tns:MWSServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="moyNotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="norme1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showNorme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MWSServer">
<port name="MWSServerPort" binding="tns:MWSServerPortBinding">
<soap:address location="http://localhost:8080/PWSServer/MWSServer"/>
</port>
</service>
</definitions>